$rock: #b69e31;
$ghost: #70559b;
$steel: #b7b9d0;
$normal: #aaa67f;
$fighting: #c12239;
$flying: #a891ec;
$water: #6493eb;
$poison: #a43e9e;
$grass: #74cb48;
$ground: #dec16b;
$psychic: #fb5584;
$ice: #9ad6df;
$bug: #a7b723;
$fire: #f57d31;
$dark: #75574c;
$fairy: #e69eac;
$electric: #f9cf30;
$dragon: #7037ff;

$dark-gray: #212121;
$medium-gray: #666666;
$light-gray: #e0e0e0;
$white: #ffffff;
$background-cain-color: #f7f7f7;
