@import '../../static/colors/colors.module.scss';

.containCards {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 10px;
  gap: 5px;
}

.card {
  width: 105px;
  height: 110px;
  border: 1px solid black;
  text-align: center;
  border-radius: 8px;
  background-color: $white;
}

.order {
  margin: 4px 5px;
  padding: 0;
  text-align: end;
  font-size: 0.5rem;
  background-color: $white;
}

.imagePokemon {
  top: calc(50% - 59px);
  margin: 0 auto;
  position: relative;
  padding: 0;
  width: 80px;
  background-color: $white;
}

.namePokemon {
  margin: 0;
  padding: 0;
  font-size: 16px;
  position: relative;
  top: calc(50% - 79px);
  font-size: 0.625rem;
  background-color: $white;
}
