@import '../static/colors/colors.module.scss';
@import '../static/font/font.module.scss';
* {
  margin: 0;
  padding: 0;
  background-color: $background-cain-color;
  font-family: $font-poppins;
}

.mainContain {
  color: $dark-gray;
}
.containLogo {
  display: flex;
  gap: 10px;
}

.containHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 24px 5px;
}

.title {
  font-size: 1.5rem;
}
