@import '../../static/colors/colors.module.scss';

.containForm {
  height: 24px;
  width: 328px;
  display: grid;
  grid-template-columns: 131px 100px;
  align-items: center;
  gap: 7px;
  margin: 0 auto;
  border: 1px solid $light-gray;
  border-radius: 8px;
  color: $medium-gray;
}

.search {
  border: none;
  width: 100px;
  font-size: 0.625rem;
}

.logoSearch {
  justify-self: end;
}
